examples/tests.json
[
  {
    "id": "6a6ec4f2.15278c",
    "type": "inject",
    "z": "dfac3efe.3a37d",
    "name": "JSON",
    "topic": "test",
    "payload": "{\"test\":\"data\"}",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 250,
    "y": 700,
    "wires": [
      [
        "ecd3b546.c95a48"
      ]
    ]
  },
  {
    "id": "b165a309.9717",
    "type": "debug",
    "z": "dfac3efe.3a37d",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 560,
    "y": 780,
    "wires": []
  },
  {
    "id": "6a2d9877.08a198",
    "type": "inject",
    "z": "dfac3efe.3a37d",
    "name": "24 hex to use and validate",
    "topic": "test",
    "payload": "{\"_id\":\"572dbc06f307c8682045c55c\"}",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 190,
    "y": 740,
    "wires": [
      [
        "ecd3b546.c95a48"
      ]
    ]
  },
  {
    "id": "91b5fbcb.ac1e08",
    "type": "inject",
    "z": "dfac3efe.3a37d",
    "name": "Timestamp",
    "topic": "test",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 240,
    "y": 780,
    "wires": [
      [
        "ecd3b546.c95a48"
      ]
    ]
  },
  {
    "id": "10535221.075c5e",
    "type": "inject",
    "z": "dfac3efe.3a37d",
    "name": "Number",
    "topic": "test",
    "payload": "0",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 250,
    "y": 820,
    "wires": [
      [
        "ecd3b546.c95a48"
      ]
    ]
  },
  {
    "id": "ecd3b546.c95a48",
    "type": "objectid",
    "z": "dfac3efe.3a37d",
    "name": "",
    "selectedProperty": "_id",
    "x": 430,
    "y": 780,
    "wires": [
      [
        "b165a309.9717"
      ]
    ]
  },
  {
    "id": "e5d7a419.13ea88",
    "type": "inject",
    "z": "dfac3efe.3a37d",
    "name": "JSON Array",
    "topic": "test",
    "payload": "[{\"test1\":\"test1\"}, {\"test2\":\"test2\"}]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 230,
    "y": 860,
    "wires": [
      [
        "ecd3b546.c95a48"
      ]
    ]
  }
]
